.container-button {
  background-color: hsl(228, 33%, 97%);
  display: flex;
  flex-direction: column;
  width: 30px;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.container-button button {
  border: none;
  background-color: transparent;
  margin: 10px;
  color: hsl(238, 40%, 52%);
}

.container-button button:hover {
  color: hsl(238, 40%, 52%);
}
